/*************************************************
    GENERAL STYLES
 *************************************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************************************
    UTILITIES
 ************************************************/

/* LAYOUT */
.container {
    max-width: 85%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row--active {
    gap: 25px;
}

.col--50 {
    width: calc(50%);
}

.col--100 {
    width: 100%;
    background-color: aquamarine;
    border: 1px solid black;
}

/************************************************
    SITE SECTIONS
 ************************************************/

/* HEADER */
.header {
    background-color: #1890FF;
    color: white;
    width: 100%;
    padding: 20px 0px 15px 0px;
}

.nav--mobile {
    float: right;
    margin-top: 13px;
}

/* GET A DEMO APPLICATION */
.demo {
    margin: 65px 0px 90px 0px;
}

/* STRATEGIC PLANNING*//* BENEFITS OF WORKING WITH US *//* STRATEGIC PLANNING*/
.app, .benefits, .start {
    background-color:#9593e6;
    padding: 60px 0;
}

.app__img {
    width: 100%;
}

/* TESTIMONIALS *//* ABOUS US */
.testimonials, .biography {
    margin: 75px 0;
}

/* FOOTER */
.footer {
    background-color: brown;
    padding: 60px 0;
}